<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419446158432-3gopvfs3hdcjgich3cq21no5lbe55lvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419446158432-3gopvfs3hdcjgich3cq21no5lbe55lvn</string>
	<key>API_KEY</key>
	<string>AIzaSyCNekznd5bgVdbCLEPAe0fDl4F_w-59ZRI</string>
	<key>GCM_SENDER_ID</key>
	<string>419446158432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppForMyTraining</string>
	<key>PROJECT_ID</key>
	<string>training2-f55ad</string>
	<key>STORAGE_BUCKET</key>
	<string>training2-f55ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419446158432:ios:74dbcfab31949ce5ea3f05</string>
</dict>
</plist>